/* Common styles for all pages */
:root {
  --main-color: #21bf48;
  --sub-color: #767676;
  --line-color: #c4c4c4;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
