/* Styles for the main page */
@import url(./common.css);
main {
    width: 100%;
}

.product-card__slide-list {
    display: flex;
}
.product-card__slide-list li {
    
}
.product-card__slide-list li a img {
    width: 100%;
}
